
{% extends 'project/projectnavbar.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block body %}
<h1 align="left">About Us</h1>


<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">

          <p class="card-text">SmartSpend is your go-to destination for effortless product searches and comprehensive price comparisons.</p>
          <p class="card-text">Whether you're hunting for the latest gadgets, must-have fashion items, or everyday essentials, SmartSpend simplifies your shopping experience. </p>
          <p class="card-text"> With our intuitive platform, you can quickly find the best deals across a wide range of retailers, ensuring you get the most bang for your buck every time you shop.</p>
           <p class="card-text"> Say goodbye to endless browsing and hello to smarter spending with SmartSpend.</p>
          <p class="card-text">Feel free to <a href="contact">contact us</a> for more information.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
</body>
</html>













