<!-- In forgot_password.html -->{% extends 'project/projectnavbar.html' %}
{% block title %} Forgot Password {% endblock %}
{% block login %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}


<body>
    <h1>Forgot Password</h1>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="user_name">Username:</label>
        <input type="text" name="user_name" id="user_name">
        <label for="id_new_password">New Password:</label>
        <input type="password" name="new_password" id="id_new_password">
        <button type="submit">Reset Password</button>
    </form>
</body>
{% endblock %}
</html>
